.font-cursive {
  font-family: "Great Vibes", cursive;
}

.container-listing .card {
  border-radius: 10% 10% 0 10%;
  height: 100%;
  background-color: rgb(196, 238, 205);
}
.container-listing img {
  border-radius: 0 10%;
}

.checkout ul {
  border: 2px solid #ebebeb;
  background: #f3f3f3;
  padding: 25 25 16 20;
}
.checkout ul li {
  list-style: none;
  font-size: 16px;
  font-weight: bold;
  color: #252525;
  text-transform: uppercase;
  overflow: hidden;
}

.checkout ul li .cart-total {
  padding-top: 10px;
}
.checkout ul li .cart-total span {
  color: #e7ab3c;
}
.checkout ul li span {
  float: right;
}
.checkout .proceed-btn {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  background: #252525;
  text-transform: uppercase;
  padding: 15 25 14 25;
  display: inline-block;
}

.back {
  margin-left: 100px;
}